* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  background: linear-gradient(rgb(103, 103, 255), rgb(255, 201, 255), gray);
  width: 100vw;
  height: 100vh;

  overflow-y: hidden;
}
.box-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.tenor-gif-embed {
  width: 200px;
  height: 200px;
  display: none;
  mix-blend-mode: color-burn;
}

.btn-box {
  margin-top: 30px;
  display: flex;
  gap: 20px;

  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
button {
  font-size: large;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  position: absolute;
  transition: 0.5s ease-out;
}
.btn-yes {
  left: 40%;
}
